extends layout

block content
  h1=title

  form(method='POST' action='')

    div.form-group
      label(for='name') Tag Name:
      input#name.form-control(type='text' placeholder='Tag Name' name='name' required='true' value=(undefined===tag ? '' : tag.name))

    div.form-group
      label Book:
      div
        for book in book_list
          div
          input.checkbox-input(type='checkbox', name='book', id=book._id, value=book._id, checked=book.checked )
          label(for=book._id) #{book.title}
          br

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg