extends layout

block content
  section#short_content    
    br
    .row
      .col.s0.m2
      .col.s12.m8
        .card-panel
          h6.blue-text.active #{title}
          form(method='POST' action='')
            .row
              .input-field.col.s12
                i.material-icons.prefix title
                input#name.validate(type='text', name='name' required='true' value=(undefined===tag ? '' : tag.name) )
                label(for='name') Tag Name (Course codes, 
                  span.hide-on-small-only Topics, 
                  span etc)
              div.col.s12
                h6 Select Books:
                div
                  for book in book_list
                    div(style='display: block; padding:5px;')
                      input.checkbox-input.cyan(type='checkbox', name='book', id=book._id, value=book._id, checked=book.checked )
                      label(for=book._id) !{book.title}
                br
                br
              .col.s12.l12
                button.btn.waves-effect.waves-light.blue(type='submit')
                  | Submit
                  i.material-icons.right send
        if errors 
          ul
            for error in errors
              li!= error.msg

  